.name {
    color: darkcyan;
    font-size: 40px;
    margin-left: 40px;
}
.container {
    display: flex;
    width: 800px;
    justify-content: space-around;
}
.image {
    width: 400px;
    
}
.info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    color: darkcyan;
}
.capital {
    font-size: 30px;
    margin-bottom: 10px;
}
.population {
    font-size: 25px;
    margin-bottom: 10px;
}
.languages {
    font-size: 25px;
    list-style: none;
    margin: 0px;
    padding-left: 0;
}
.languages-item {
    margin-top: 10px;
    padding-left: 20px;
    font-size: 20px;
}